.container {
  width:100vh;
  height:100vh;
  margin:0;
  padding::0;
}

.background {
  width:100%;
  height:50%;
  overflow: hidden;
  background-image:url(../img/background.jpg);
  text-align:center;
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color: #0c3a33;
}

.logo {
  position:absolute;
  top:25%;
  left:28%;
  margin:0;
  padding:0;
}

.contact-container {
  width:100%;
  height:50%;
  overflow: hidden;
  text-align:center;
}

.contact {
  position:absolute;
  top:85%;
  left:35%;
  margin: 0;
  padding:0;
  text-align: center;
}

p {
  font-family: 'Merriweather', serif;
  font-size:16px;
  line-height:28px;
  color: #0c3a33;
}

.contact-icons {
  text-align:center;
  position:absolute;
  bottom:25%;
  padding: 5px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius:20px;
  border: solid 2px #0c3a33;
  background-color:#fff;
  text-align:center;
  float:left;
  margin:5px;
  cursor:pointer;
}

.green {
  color:#0c3a33;
  padding-top:6px;
}

.icon:hover {
  background-color:#42bda7;
}
